.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.WB_media_expand {
    border-style: solid;
    border-width: 1px;
    margin: 5px 0 15px;
    padding: 10px 20px;
}

.S_line1 {
    border-color: #D9D9D9;
}

.WB_feed .WB_feed_datail {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    overflow: hidden;
    padding: 0 0 11px;
}

.WB_face {
    float: left;
    position: relative;
    width: 50px;
}

.WB_feed .WB_detail {
    margin-left: 65px;
}

.S_line2 {
    border-color: #E6E6E6;
}

.WB_feed .WB_func .WB_handle .S_txt3 {
    margin: 0 6px 0 8px;
}

.S_txt3 {
    color: #AEAEAE;
}

.clearfix {
    display: block;
}

.prtp {
    float: left;
    height: 140px;
    margin: 0 25px 25px 0;
    width: 140px;
}

.piic {
    height: 140px;
    position: relative;
    width: 140px;
}

.dgprogressBar {
    background: url("../images/swfupload/prog.gif") repeat-x scroll 0 0 transparent;
    height: 12px;
    width: 0;
}

.obclose {
    position: absolute;
    right: 0;
    top: 0;
}

.btnclrj {
    cursor: pointer;
    display: inline-block;
    height: 21px;
    vertical-align: middle;
    width: 21px;
}

.recipes_img {
    /*float: left;*/
    height: 140px;
    margin: 0 10px 10px 0;
    width: 140px;
}

.ydtime {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    float: left;
    height: 48px;
    text-align: center;
    width: 48px;
}

.dblok {
    display: block;
}

.tdate {
    font-size: 24px;
    font-weight: bold;
}

.nav_icon_new {
    background: url("../images/nav_icon_new.png") no-repeat scroll 0 0 transparent;
    display: block;
    font-size: 1px;
    height: 9px;
    position: absolute;
    right: 3px;
    top: 8px;
    width: 21px;
}

