.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.WB_media_expand{
    border-style: solid;
    border-width: 1px;
    margin: 5px 0 15px;
    padding: 10px 20px;
}

.S_line1 {
    border-color: #D9D9D9;
}

.WB_feed .WB_feed_datail {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    overflow: hidden;
    padding: 0 0 11px;
}
.WB_face {
    float: left;
    position: relative;
    width: 50px;
}

.WB_feed .WB_detail {
    margin-left: 65px;
}

.S_line2 {
    border-color: #E6E6E6;
}

.WB_feed .WB_func .WB_handle .S_txt3 {
    margin: 0 6px 0 8px;
}
.S_txt3 {
    color: #AEAEAE;
}

.clearfix {
    display: block;
}

#userplace {
    background: none repeat scroll 0 0 #F4F0EC;
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.1) inset;
    padding: 30px 0;
    width: 100%;
}
.userinfo {
    margin: 0 auto;
    position: relative;
    width: 940px;
}
.userinfo .ushead {
    float: left;
    margin-right: 30px;
    width: 140px;
}
.userinfo .ushead img {
    width: 140px;
}
.userinfo .uscome {
    float: left;
    width: 480px;
}
.userinfo .uscome h1 {
    font-size: 22px;
    width: 480px;
}
.userinfo .uscome .pingro {
    line-height: 170%;
    min-height: 45px;
    width: 480px;
}
.userinfo .uscome .edipro {
    color: #999999;
    line-height: 170%;
    text-align: right;
    width: 480px;
}
.userinfo .uscome ul {
    float: left;
    font-size: 14px;
    margin: 0;
    width: 500px;
}
.userinfo .uscome li {
    float: left;
    text-align: center;
}
.userinfo .uscome li a span {
    display: block;
    height: 32px;
    line-height: 32px;
    margin-right: 6px;
    padding: 0 15px;
}
.userinfo .uscome li a:hover {
    text-decoration: underline;
}
.userinfo .uscome .ons a span {
    background: none repeat scroll 0 0 #D2D2C8;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-weight: bold;
}
.userinfo .uscome .ons a:hover {
    text-decoration: none;
}
.userinfo .gzrim {
    position: absolute;
    right: 150px;
    top: 83px;
}
.userinfo .fsixin {
    position: absolute;
    right: 70px;
    top: 83px;
}
.userinfo .numifo {
    background: none repeat scroll 0 0 #E9E1DA;
    padding: 10px 0;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 250px;
    z-index: 66;
}
.userinfo .numifo ul {
    width: 250px;
}
.userinfo .numifo li {
    float: left;
    height: 34px;
    line-height: 150%;
    text-align: center;
    width: 61px;
}
.usrecie {
    width: 650px;
}
.usrecie h2 {
    float: left;
    font-size: 16px;
    width: 650px;
}
.usrecie h2 span {
    font-size: 12px;
}
.usrecie .reone {
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(100, 100, 100, 0.3);
    float: left;
    height: 280px;
    margin-bottom: 25px;
    width: 200px;
}
.usrecie .reone h3 {
    font-size: 14px;
    height: 20px;
    line-height: 22px;
    overflow: hidden;
    padding: 9px 20px 3px;
    text-align: center;
    width: 160px;
}
.usrecie .reone span {
    color: #999999;
    display: inline-block;
    height: 32px;
    line-height: 150%;
    overflow: hidden;
    padding: 0 15px;
    text-align: center;
    width: 170px;
}
.usrecie .reone img {
    border-radius: 3px 3px 0 0;
    height: 200px;
    width: 200px;
}
.usrecie .reone p {
    color: #999999;
    height: 60px;
    line-height: 150%;
    overflow: hidden;
    padding: 0 15px;
    text-align: left;
    width: 170px;
}
.usreopus {
    width: 650px;
}
.usreopus h2 {
    float: left;
    font-size: 16px;
    width: 650px;
}
.usreopus h2 span {
    font-size: 12px;
}
.opone {
    float: left;
    height: 180px;
    margin-bottom: 25px;
    width: 200px;
}
.opusic {
    float: left;
    height: 150px;
    width: 200px;
}
.opusic .wh2015 {
    display: block;
    height: 150px;
    width: 200px;
}
.opone .hbg {
    background-color: #000000;
    bottom: 0;
    color: #FFFFFF;
    font-size: 14px;
    height: 30px;
    left: 0;
    line-height: 30px;
    opacity: 0.5;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 200px;
}
.opone h3 {
    bottom: 0;
    color: #FFFFFF;
    font-size: 14px;
    height: 30px;
    left: 0;
    line-height: 30px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}
.opone h3 a {
    color: #FFFFFF;
}
.opone p {
    color: #999999;
    line-height: 150%;
    overflow: hidden;
    padding: 12px 0 0;
    width: 200px;
}
.usdiet {
    width: 650px;
}
.usdiet h2 {
    float: left;
    font-size: 16px;
    width: 650px;
}
.usdiet h2 span {
    font-size: 12px;
}
.usdiet .dione {
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(100, 100, 100, 0.3);
    float: left;
    height: 260px;
    margin-bottom: 25px;
    overflow: hidden;
    padding: 30px 0;
    width: 200px;
}
.usdiet .dione h3 {
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding: 0 20px 2px;
    text-align: center;
    width: 160px;
}
.usdiet .dione span {
    color: #999999;
    display: inline-block;
    height: 40px;
    line-height: 160%;
    overflow: hidden;
    padding: 0 16px;
    text-align: center;
    width: 168px;
}
.usdiet .dione img {
    height: 140px;
    margin: 0 3px 6px 30px;
    width: 140px;
}
.usdiet .dione p {
    height: 60px;
    line-height: 170%;
    overflow: hidden;
    padding: 0 16px;
    text-align: center;
    width: 168px;
}
.careper {
    width: 250px;
}
.careper h2 {
    font-size: 16px;
    width: 250px;
}
.careper h2 span {
    font-size: 12px;
}
.careper img {
    float: left;
    height: 32px;
    margin: 0 3px 3px 0;
    width: 32px;
}
.careper .mcary {
    display: block;
    float: left;
    width: 250px;
}
.qgdct {
    width: 250px;
}
.qgdct h2 {
    display: inline-block;
    font-size: 16px;
    padding-bottom: 3px;
    width: 250px;
}
.qgdct h2 span {
    font-size: 12px;
}
.qgdct ul {
    width: 250px;
}
.qgdct li {
    float: left;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    width: 250px;
}
.caresc {
    width: 250px;
}
.caresc h2 {
    font-size: 16px;
    padding-bottom: 9px;
    width: 250px;
}
.caresc h2 span {
    font-size: 12px;
}
.caresc ul {
    width: 250px;
}
.caresc li {
    background: none repeat scroll 0 0 #ECECDF;
    border-radius: 3px 3px 3px 3px;
    float: left;
    height: 24px;
    line-height: 24px;
    margin: 0 5px 5px 0;
    overflow: hidden;
    text-align: center;
    width: 77px;
}
.qymodu {
    background: none repeat scroll 0 0 #F4F0EC;
    padding: 20px 15px 5px;
    width: 220px;
}
.qymodu h2 {
    font-size: 16px;
    padding-bottom: 7px;
    width: 220px;
}
.qymodu ul {
    width: 220px;
}
.qymodu li {
    float: left;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    width: 220px;
}
.qymodu .pfob p {
    line-height: 170%;
    width: 220px;
}
.qymodu .pedit {
    text-align: right;
    width: 220px;
}
.creatone {
    height: 30px;
    margin: 15px 0 9px;
    text-align: right;
}
.tyear {
    width: 940px;
}
.tyear .yearnum {
    float: left;
    font-size: 14px;
    width: 48px;
}
.tyear .ysline {
    border-bottom: 1px dotted #E0E0D4;
    float: right;
    height: 1px;
    margin: 5px 0;
    width: 872px;
}
.usercaip {
    width: 940px;
}
.usercaip .ydtime {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    float: left;
    height: 48px;
    text-align: center;
    width: 48px;
}
.usercaip .ydtime .tdate {
    font-size: 24px;
    font-weight: bold;
}
.usercaip .ucaipu {
    float: right;
    width: 872px;
}
.usercaip .ucaipu .myone {
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(100, 100, 100, 0.3);
    float: left;
    height: 280px;
    margin-bottom: 24px;
    position: relative;
    width: 200px;
}
.usercaip .ucaipu .myone h3 {
    font-size: 14px;
    height: 21px;
    line-height: 150%;
    overflow: hidden;
    padding: 9px 20px 3px;
    text-align: center;
    width: 160px;
}
.usercaip .ucaipu .myone span {
    color: #999999;
    display: inline-block;
    height: 32px;
    line-height: 150%;
    overflow: hidden;
    padding: 0 15px;
    text-align: center;
    width: 170px;
}
.usercaip .ucaipu .myone img {
    border-radius: 3px 3px 0 0;
    height: 200px;
    width: 200px;
}
.usercaip .ucaipu .myone p {
    color: #999999;
    height: 60px;
    line-height: 150%;
    overflow: hidden;
    padding: 0 15px;
    text-align: left;
    width: 170px;
}
.usercaip .ucaipu .cdoard {
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(100, 100, 100, 0.3);
    float: left;
    padding: 15px 0;
    position: relative;
    width: 220px;
}
.usercaip .ucaipu .cdoard h3 {
    font-size: 14px;
    line-height: 150%;
    overflow: hidden;
    padding: 0 0 0 20px;
    width: 190px;
}
.usercaip .ucaipu .cdoard .boim {
    display: block;
    height: 190px;
    overflow: hidden;
    padding: 5px 0 0 15px;
}
.usercaip .ucaipu .cdoard .boim img {
    float: left;
    height: 60px;
    margin: 0 5px 5px 0;
    width: 60px;
}
.usercaip .ucaipu .dmone {
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(100, 100, 100, 0.3);
    float: left;
    height: 260px;
    margin-bottom: 25px;
    padding: 30px 0;
    position: relative;
    width: 200px;
}
.usercaip .ucaipu .dmone h3 {
    font-size: 14px;
    height: 21px;
    line-height: 150%;
    overflow: hidden;
    padding: 0 20px 2px;
    text-align: center;
    width: 160px;
}
.usercaip .ucaipu .dmone span {
    color: #999999;
    display: inline-block;
    height: 40px;
    line-height: 160%;
    overflow: hidden;
    padding: 0 16px;
    text-align: center;
    width: 168px;
}
.usercaip .ucaipu .dmone img {
    height: 140px;
    margin: 0 3px 6px 30px;
    width: 140px;
}
.usercaip .ucaipu .dmone p {
    height: 60px;
    line-height: 170%;
    overflow: hidden;
    padding: 0 16px;
    text-align: center;
    width: 168px;
}
.allsc {
    position: absolute;
    right: 10px;
    top: -12px;
}
.allbj {
    position: absolute;
    right: 65px;
    top: -12px;
}
.userdnav {
    height: 32px;
    margin: 15px 0 9px;
    width: 940px;
}
.userdnav ul {
    float: left;
    font-size: 14px;
    height: 32px;
    width: 800px;
}
.userdnav li {
    float: left;
    margin-top: 10px;
    text-align: center;
}
.userdnav a span {
    display: block;
    height: 15px;
    margin: 0 14px;
}
.userdnav a:hover {
    text-decoration: underline;
}
.userdnav .ls a span {
    color: #333333;
    font-weight: bold;
}
.userdnav .ls a:hover {
    text-decoration: none;
}
.clectnav {
    height: 32px;
    margin: 15px 0 9px;
    width: 940px;
}
.clectnav ul {
    float: left;
    font-size: 14px;
    height: 32px;
    width: 800px;
}
.clectnav li {
    float: left;
    text-align: center;
}
.clectnav a span {
    display: block;
    height: 15px;
    margin: 0 14px;
}
.clectnav a:hover {
    text-decoration: underline;
}
.clectnav .ls a span {
    color: #333333;
    font-weight: bold;
}
.clectnav .ls a:hover {
    text-decoration: none;
}
.grant {
    width: 650px;
}
.grant .grone {
    width: 650px;
}
.grant .grone h3 {
    font-size: 14px;
    margin-bottom: 10px;
    width: 650px;
}
.grant .grone p {
    color: #999999;
    line-height: 150%;
}
.cpleiht {
    width: 250px;
}
.cpleiht ul {
    width: 250px;
}
.cpleiht li {
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
    text-indent: 20px;
    width: 250px;
}
.cpleiht li a {
    display: block;
    height: 35px;
    width: 250px;
}
.cpleiht li a:hover {
    background: none repeat scroll 0 0 #F4F0EC;
}
.cpleiht .bs a {
    background: none repeat scroll 0 0 #F4F0EC;
    color: #333333;
    font-weight: bold;
}
.colcd {
    width: 940px;
}
.colcd .collecd {
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(100, 100, 100, 0.3);
    float: left;
    padding: 15px 0;
    position: relative;
    width: 220px;
}
.colcd .collecd h3 {
    font-size: 14px;
    line-height: 150%;
    overflow: hidden;
    padding: 0 0 0 20px;
    width: 190px;
}
.colcd .collecd .boim {
    display: block;
    height: 190px;
    overflow: hidden;
    padding: 5px 0 0 15px;
}
.colcd .collecd .boim img {
    float: left;
    height: 60px;
    margin: 0 5px 5px 0;
    width: 60px;
}
.ugroup {
    width: 650px;
}
.ugroup .utic {
    color: #999999;
    padding-bottom: 15px;
}
.ugroup .uhy {
    color: #999999;
    text-align: center;
    width: 60px;
}
.ugroup .uhftime {
    color: #999999;
    text-align: center;
    width: 100px;
}
.ugroup .uclose {
    height: 35px;
    line-height: 35px;
    text-align: center;
    vertical-align: middle !important;
    width: 60px;
}
.ugroup .utic2 {
    font-size: 14px;
    line-height: 150%;
}
.ugroup .uhy2 {
    color: #999999;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 60px;
}
.ugroup .uhftime2 {
    color: #999999;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 90px;
}
.ugroup tr {
    border-bottom: 1px dotted #E7E7D9;
}
.ugroup .bjwob {
    display: none;
}
.ugroup tr:hover .bjwob {
    display: block;
}
.xcomme {
    width: 650px;
}
.xcomme h2 {
    font-size: 14px;
}
.xcomme h3 {
    font-size: 14px;
    font-weight: bold;
}
.joping {
    width: 650px;
}
.joping .coimg {
    float: left;
    height: 48px;
    width: 48px;
}
.joping .cpont {
    float: left;
    width: 592px;
}
.joping .cpont .cppdd {
    width: 592px;
}
.joping .cpont .cppdd p {
    display: block;
    line-height: 150%;
}
.joping .cpont .cppdd .clo {
    color: #999999;
    display: block;
    float: left;
}
.joping .cpont .cppdd .clk {
    color: #999999;
    display: block;
    float: right;
}
.noword {
    color: #999999;
    font-size: 12px;
    line-height: 200%;
    padding: 5px 0;
    width: 650px;
}
.noword h3 {
    color: #333333;
    font-size: 14px;
    margin-bottom: 15px;
    width: 650px;
}
.friend {
    width: 800px;
}
.friend .cartit {
    width: 800px;
}
.friend .cartit h1 {
    float: left;
    font-size: 16px;
    width: 650px;
}
.friend .cartit span {
    float: left;
    padding-left: 40px;
    width: 110px;
}
.allfaver {
    width: 650px;
}
.addmm {
    position: absolute;
    right: 0;
    top: 0;
}
.afper {
    position: relative;
    width: 650px;
}
.afper .ferhd {
    float: left;
    margin-right: 20px;
}
.afper .ferhd img {
    height: 70px;
    width: 70px;
}
.afper h4 {
    display: inline-block;
    font-size: 14px;
    overflow: hidden;
    padding-bottom: 10px;
    width: 130px;
}
.afper p {
    color: #999999;
    display: block;
    height: 11px;
}
.afper span {
    color: #999999;
    display: inline-block;
    height: 11px;
    line-height: 11px;
}
.favcan {
    width: 650px;
}
.favcan h1 {
    font: 24px '微软雅黑','YaHei',Arial,Helvetica,sans-serif;
}
.favcan .qgbian {
    background: none repeat scroll 0 0 #E9E1DA;
    color: #6B553F;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 50px;
}
.favcan .qgbian a {
    color: #6B553F;
}
.favcan .qgbian:hover {
    background: none repeat scroll 0 0 #F1EDE7;
    text-decoration: none;
}
.favcan .qgbian:active {
    background: none repeat scroll 0 0 #D9CBBF;
}
.mr1 {
    margin-right: 1px;
}
.faveone {
    float: left;
    height: 140px;
    margin-bottom: 30px;
    width: 650px;
}
.faveone .sanic {
    float: left;
    height: 140px;
    overflow: hidden;
    width: 186px;
}
.faveone .sanic .wh186140 {
    display: block;
    height: 140px;
    width: 186px;
}
.faveone h3 {
    border-top: 1px solid #EDEDE6;
    color: #999999;
    float: left;
    font-size: 14px;
    line-height: 160%;
    padding-bottom: 5px;
    padding-top: 15px;
    width: 440px;
}
.faveone p {
    color: #999999;
    float: left;
    height: 15px;
    line-height: 175%;
    overflow: hidden;
    width: 440px;
}
.faveone span {
    color: #999999;
    display: inline-block;
    height: 11px;
    line-height: 11px;
}
.itagceng {
    border: 8px solid rgba(204, 204, 204, 0.5);
    width: 360px;
}
.itagceng .tacontent {
    background: none repeat scroll 0 0 #FFFFFF;
    position: relative;
    width: 360px;
}
.itagceng .tith {
    background: none repeat scroll 0 0 #EDEDEB;
    height: 48px;
}
.itagceng .tith h3 {
    font-size: 14px;
    line-height: 48px;
    padding-left: 20px;
}
.itagceng .dlclose {
    position: absolute;
    right: 15px;
    top: 15px;
}
.itagceng .ltowb {
    font-size: 14px;
    line-height: 180%;
    padding: 25px 0 20px 20px;
    width: 340px;
}
.itagceng .butbo {
    border-top: 1px solid #E6E6E3;
    height: 47px;
    padding-top: 13px;
    text-align: center;
    width: 360px;
}
.btnqque {
    background: none repeat scroll 0 0 #6FBFB1;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 70px;
}
.btnqque a {
    color: #FFFFFF;
}
.btnqque:hover {
    background: none repeat scroll 0 0 #8CCCC1;
    text-decoration: none;
}
.btnqque:active {
    background: none repeat scroll 0 0 #51B1A0;
}
.btnqxia {
    background: none repeat scroll 0 0 #E9E1DA;
    border-radius: 3px 3px 3px 3px;
    color: #6B553F;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 70px;
}
.btnqxia a {
    color: #6B553F;
}
.btnqxia:hover {
    background: none repeat scroll 0 0 #F1EDE7;
    text-decoration: none;
}
.btnqxia:active {
    background: none repeat scroll 0 0 #D9CBBF;
}
.itagceng .tagtext {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DEDED3;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    padding: 5px 0 5px 10px;
    vertical-align: middle;
    width: 290px;
}
